// Crema Filter 
.filter-crema {
  filter: sepia(.5) contrast(1.25) brightness(1.15) saturate(.9) hue-rotate(-2deg);

  &::before {
    background: rgba(125, 105, 24, .2);
    content: "";
    mix-blend-mode: multiply;
  }
}
