// Helena Filter 
.filter-helena {
  filter: sepia(.5) contrast(1.05) brightness(1.05) saturate(1.35);

  &::before {
    background: rgba(158, 175, 30, .25);
    content: "";
    mix-blend-mode: overlay;
  }
}