// Kelvin Filter 
.filter-kelvin {
  filter: sepia(.15) contrast(1.5) brightness(1.1) hue-rotate(-10deg);

  &::before {
    background: radial-gradient(circle closest-corner, rgba(128, 78, 15, .25) 0, rgba(128, 78, 15, .5) 100%);
    content: "";
    mix-blend-mode: overlay;
  }
}