// Ludwig Filter 
.filter-ludwig {
  filter: sepia(.25) contrast(1.05) brightness(1.05) saturate(2);

  &::before {
    background: rgba(125, 105, 24, .1);
    content: "";
    mix-blend-mode: overlay;
  }
}
