// Poprocket Filter
.filter-poprocket  {
  filter: sepia(.15) brightness(1.2);

  &::before {
    background: radial-gradient(circle closest-corner, rgba(206, 39, 70, .75) 40%, rgba(0, 0, 0, 1) 80%);
    content: "";
    mix-blend-mode: screen;
  }
}
