//Poprocket effect
.filter-poprocket  {
    //filter: sepia(.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);

    &::before {
        background-image: radial-gradient(circle closest-corner, rgba(206, 39, 70, .84) 10%, rgba(255, 255, 255, 0)), radial-gradient(circle closest-corner, rgba(15,5,46,.84) 90%, rgba(255,255,255,0) 10%);
        content: "";
        mix-blend-mode: screen;
    }
}
