// Rise Filter 
.filter-rise {
  filter: sepia(.25) contrast(1.25) brightness(1.2) saturate(.9);

  &::before {
    background: radial-gradient(circle closest-corner, transparent 0, rgba(230, 193, 61, .25) 100%);
    content: "";
    mix-blend-mode: lighten;
  }
}