// X-Pro II Filter 
.filter-xpro-ii  {
  filter: sepia(.45) contrast(1.25) brightness(1.75) saturate(1.3) hue-rotate(-5deg);

  &::before {
    background: radial-gradient(circle closest-corner, rgba(0, 91, 154, .35) 0, rgba(0, 0, 0, .65) 100%);
    content: "";
    mix-blend-mode: multiply;
  }
}
